body {
  background-color: darkred;
  margin: 0;

  font-family: 'Times New Roman', Times, serif;
}

#main {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
}

#header {
  background-color: lightgrey;
  border-radius: .25rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}